*[style*="sparkels"] {
    background-image: none !important;
}

img[title="Custom user icon"] {
    display: none !important;
}

i[title="Donor"],
i[title="Lifetime donor"] {
    display: none !important;
}
